.aaliyah-bg-primary {
    background-color: #C71585;
}

.aaliyah-bg-light {
    background-color: #FF36B5;
}

.aaliyah-bg-dark {
    background-color: #7A0750;
}

.aaliyah-bg-alt-light {
    background-color: #26C716;
}

.aaliyah-bg-alt-dark {
    background-color: #0B7A00;
}